<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.chimbori.liteapp.starter">

  <application>
    <uses-library
      android:name="android.test.runner"
      android:required="false"/>
    <provider
      android:name=".AssetProvider"
      android:authorities="${applicationId}.assetprovider"
      android:exported="false"
      android:grantUriPermissions="true">
    </provider>
    <activity
      android:name=".InstallActivity"
      android:excludeFromRecents="true"
      android:exported="true"
      android:resizeableActivity="true"
      android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar.MinWidth"
      />
  </application>
</manifest>
